body {
  background-color: lightgrey;
  position: absolute;
  width: 100%;
  height: 1000px;
}

#container {
  position: relative;
  position: absolute;
  height: 1000px;
  width: 100%;
}

.ingredient-name {
   display: inline-block;
  position: relative;
  position: absolute;
  left: 400px;
}
.dropper {
  height: 100px;
  border: 1px blue
}

.thumbnail {
  border: 1px solid blue;
  height: 100px;
  width: 100px;
}

#juicer {
  position: relative;
  display: inline-block;
  left: 200px;
  top: 100px;
  width: 400px;
}

#beaker {
  display: inline-block;
  position: relative;
  position: absolute;
  width: 100px;
  left: 515px;
  top: 355px;
}

#pouring {
  display: inline-block;
  position: relative;
  position: absolute;
  width: 0px;
  top: 320px;
  left: 490px;
  transform: rotate(-20deg);
}

#bottom-juice {
display: inline-block;
position: relative;
position: absolute;
width: 94px;
background-color: green;
height: 10px;
top: 460px;
left: 518px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
transition: all linear 0.5s;
}

.second-juice,
.third-juice,
.fourth-juice,
.fifth-juice,
.sixth-juice,
.seventh-juice,
.eighth-juice,
.ninth-juice {
  display: inline-block;
position: relative;
position: absolute;
width: 94px;
background-color: green;
height: 10px;
left: 518px;
}

.second-juice {
  top: 450px;
}


.third-juice {
  top: 440px;
}

.fourth-juice {
  top: 430px;
}

.fifth-juice {
  top: 420px;
}

.sixth-juice {
  top: 410px;
}

.seventh-juice {
  top: 400px;
}

.eighth-juice {
  top: 390px;
}

.ninth-juice {
  top: 380px;
}

#carrot,
#banana,
#beetroot,
#blackberry,
#broccoli,
#cabbage,
#carrot,
#celery,
#ginger,
#lemon,
#lime,
#orange,
#pear,
#strawberry

 {
  height: 80px;
  width: 80px;
  display: inline-block;
}

#apple {
  height: 80px;
}

.hideThem {
  visibility: hidden;
}

.ui-draggable-dragging {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.fruit-holder {
  width: 200px;
  display: inline-block;
  float: right;
}

#juice-ingredient-container {
    display: inline-block;
    position: relative;
    position: absolute;
    width: 200px;
    height: 400px;
    background-color: green;
    top: 5px;
    left: 5px;

}

#nutrition-data {
    display: inline-block;
    position: relative;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 250px;
    top: 100px;
    background-color: blue;
    overflow: scroll;
    color: white;
}

#view-container{
  min-height: 60%
}
