body {
  background-color: lightgrey;
}

.dropper {
  height: 100px;
  border: 1px blue
}

.thumbnail {
  border: 1px solid blue;
  height: 100px;
  width: 100px;
}

#juicer {
  display: inline-block;
}

#carrot,
#banana,
#beetroot,
#blackberry,
#broccoli,
#cabbage,
#carrot,
#celery,
#ginger,
#lemon,
#lime,
#orange,
#pear,
#strawberry

 {
  height: 120px;
  width: 120px;
  display: inline-block;
}

#apple {
  height: 100px;
}

.hideThem {
  visibility: hidden;
}

.ui-draggable-dragging {
  height: 120px;
  width: 120px;
  display: inline-block;
}
